name = "{{ .ComponentName }}"
language = "tinygo"
type = "component"
version = "0.1.0"

[component]
wit_world = "{{ .WitComponentName }}"
wasm_target = "wasm32-wasi-preview2"
destination = "build/{{ .ComponentName }}_s.wasm"
